*{
    box-sizing: border-box;
}


#table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}
  
#table th, #table td {
    text-align: left;
	padding: 12px;
}
  
#table tr {
    border-bottom: 1px solid #ddd;
}
  
#table tr.header, #table tr:hover {
    background-color: #f1f1f1;
}

table.row-clickable tbody tr td {
    padding: 0;
}

table.row-clickable tbody tr td a {
    display: block;
    padding: 8px;
}

nav {
  margin-bottom: 12px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}