table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
  
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
table tr {
    border: 1px solid #ddd;
    padding: .35em;
}
  
table th, table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
} 

.searchbox {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

@media screen and (max-width: 800px) {
    table {
      border: none;
    }

    table thead { /*Remove table headers*/
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
      
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
      
    table td::before { /*Give title to each row*/
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
      
    table td:last-child {
        border-bottom: 0;
    }
}

.winner {
    border-bottom: 1px solid;
}
  